* {
  background-color: #1C1C1C;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}

.hdimg {
  width: 100vw;
  height: 75vw;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 14px;
}


.content-left {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.content-right {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.content-image {
  width: 288px;
  height: 192px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

footer {
  margin-bottom: 0;
}


h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.map {
  width: 100vw;
  height: 35vh;
  padding-top: 10px;
}


h3 {
  font-size: 13px;
  font-weight: regular;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {

  .hdimg {
    max-width: 66vw;
    max-height: 60vh;;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 40px;
  }

main {
    padding-top: 50px;
    width: 100vw;
  }

  #wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width: 1300px;
  }

  .content-left {
    float: left;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10vw;
    padding-right: 2.5vw

  }

  .content-right {
    float: right;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2.5vw;
    padding-right: 10vw;
  }

    .map {
    max-width: 75vw;
    max-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
